

.dropDownButton {
    display: none;
    font-size: 24px;
    color: #ffffff;
    position: relative;
    z-index: 2;
    font-weight: 600;
    border: none;
    background: none;
    position:static;
    z-index: 2;
}


.header__conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 103px;
    border-color: hsl(0, 0%, 20%);
    border-style: solid;
    border-width: 0.01em;
    box-sizing: border-box;
}


.header__nav {
    width: 1100px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.header__li a {
    color: #FFFFFF;
    margin: 15px;
    font-size: 16px;
    line-height: 45px;
    height: 35px;
    text-decoration: none;
}

.header__li a:hover {
    border-bottom: hsl(0, 0%, 70%) 0.07em solid;
    opacity: 0.7;
    cursor: pointer;
}


.header__logoWrapper {
    margin-top: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


.logo {
    position: absolute;
    z-index: 2;
}


@media screen and (max-width: 1850px) {
    .header__nav {
        width: 700px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 1250px) {
    .header__nav {
        width: auto;
    }

  
    .header__li a {
        font-size: 14px;
        line-height: 45px;
    }
}

@media screen and (max-width: 1024px) {
    .header__li a {
        margin: 10px;
    }


    .header__logoWrapper {
        transform: scale(0.8);
    }

    .header__li a {
        font-size: 14px;
        line-height: 45px;
    }


    .header__conteiner {
        justify-content: center;
    }
}

@media screen and (max-width: 950px) {
  
    .header__nav {
        display: none;
    }

    .dropDownButton {
        display: table;
        margin-right: 10px;
    }

    .header__conteiner {
        justify-content: space-around;
    }
}

@media screen and (max-width: 450px) {
    .header__logoWrapper {
       transform: scale(0.5);
    }
}